<?xml version="1.0" ?>

<launch>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
    <remap from="scan" to="manta/sonar" />
    <param name="map_frame" value="manta/odom"/>
    <param name="odom_frame" value="gmapping_odom" />
    <param name="base_frame" value="manta/odom" />
    <param name="xmin" value="-15.0"/>
    <param name="ymin" value="-15.0"/>
    <param name="xmax" value="15.0"/>
    <param name="ymax" value="15.0"/>
    <param name="delta" value="0.2"/>
    <remap from="manta/global_map" to="gmapping/map"/>
    <remap from="map" to="gmapping_map"/>
  </node>

</launch>
