<?xml version="1.0"?>
<launch>

  <include file="$(find los_guidance)/launch/los_backstepping_simulator.launch"/>

   <node
    name="pathplanning_sm"
    pkg="finite_state_machine"
    type="pathplanning_sm.py"
    output="screen">
   </node> 

   <node
    name="get_map_test"
    pkg="finite_state_machine"
    type="get_map_test.py"
    output="screen">
   </node> 

</launch>
